################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/dbdata
**/debug/
/obj/Debug/docker-compose.dcproj.AssemblyReference.cache
/app/bin/Debug/net8.0/app.dll
/app/bin/Debug/net8.0/app.pdb
