################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/dbdata
**/debug/
*/obj
*/bin
*.cache